.admin-main {
    display: flex;
    min-height: 70vh;
    position: relative;
}

.admin-main-menu {

    height: 100%;

}
.admin-main-menu > ul {
    height: 100%;
    min-height: 70vh;

}

.admin-main-content {
    width: 100%;
}
