.assistanceElement h2 {
    margin-bottom: 2rem;
}

.supportBox {
    border-radius: .25rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 1px solid #e3e6f0;
    border-top-width: .25rem;
    transition: all .3s ease-in-out;
}


.supportBox:hover {
    border-color: #16a085;
}

.supportBox > * {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.svg-logo {
    max-width: 100px;
    width: 40%;
    margin: 2rem auto;
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(180deg) ;
}