.homeBanner {
    height: 50vh;
    background:no-repeat bottom center;
    background-size: cover;
}

.onHomeBanner {
    height: 100%;
    width: 30%;
    background-color: rgba(30, 12, 20, .3);
    float: right;

    display: flex;
    flex-direction:column;
    justify-content: center;

    text-align: center;
}

.buttonBanner {
    width: 70%;
    margin: 10px auto;
    
}

.clickBoxHome {
    border: none;
    box-shadow: 2px 2px 3px rgba(10, 10, 10, .5);
    
}
.clickBoxHome:hover {
    box-shadow: 3px 3px 5px rgba(10, 10, 10, .5);

}

.homeSuport {
    background-color: rosybrown;
    border-top: 5px solid black;
}

