.homeBanner {
    height: 50vh;
    background:no-repeat bottom center;
    background-size: cover;
}

.onHomeBanner {
    height: 100%;
    width: 30%;
    background-color: rgba(30, 12, 20, .3);
    float: right;

    display: flex;
    flex-direction:column;
    justify-content: center;

    text-align: center;
}

.buttonBanner {
    width: 70%;
    margin: 10px auto;
    
}

.clickBoxHome {
    border: 1px solid #bfd5de;
    transition: all .3s ease-in-out;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.clickBoxHome > img {
    margin-right: 1rem;
}
.clickBoxHome > button {
    align-items: flex-end;
    margin-left: auto;
}

.clickBoxHome:hover {
    border-color: #16a085;
    transform: translateY(-5px);
}

.homeSuport {
    background-color: rosybrown;
    border-top: 5px solid black;
}

